.appContainer{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    border: 2px solid cornflowerblue;
    background: none;
    margin: 1rem;
}

.importantNote{
    color: darkred;
    font-weight: bold;
}
